[jemv](../README.md) / ValidationResult

# Interface: ValidationResult

## Table of contents

### Properties

- [errors](ValidationResult.md#errors)
- [valid](ValidationResult.md#valid)

## Properties

### errors

• **errors**: [`EvalError`](EvalError.md)[]

#### Defined in

[src/lib/model/schema.ts:96](https://github.com/data7expressions/jemv/blob/f58946d/src/lib/model/schema.ts#L96)

___

### valid

• **valid**: `boolean`

#### Defined in

[src/lib/model/schema.ts:95](https://github.com/data7expressions/jemv/blob/f58946d/src/lib/model/schema.ts#L95)
